
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

.content-section {
    padding: 20px;
    border-radius: 5px;
  }
  .content-section h2 {
    text-align: center;
    
  }
  .content-section img {
    display: block;
    margin: 20px auto;
  }

  .custom-section {
    display: flex;
    align-items: center;
    padding: 20px;

   

    background-size: cover;
    background-position: center;

    border-radius: 8px;
  }
  .text-content {
    flex: 1;
  }
  .image-content {
    flex: 1;
    text-align: center;
  }
  .image-content img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 576px) {
    .custom-section{
      flex-direction: column;
    }
    .vision-title{
      margin-top: 30px;
    }
  }